/* 头部开始 */
.header{
    width:100%;
    height: 140px;
    border-bottom: 1px solid #ddd;
    background-color: aliceblue;

}
.wrap{
    width: 1190px;
    margin: auto;
}
.header-box{
    position: relative;
    height:140px;
    background-color: antiquewhite;
}
.logo{
    position: absolute;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
    /* background-color: peachpuff; */
    background: url(./../images/sprite.png) no-repeat;
    background-position: 0 0;
}
.search{
    width: 1190px;
    height: 60px;
    background-color: #ddd;
}
.search-m{
    position: relative;
    width: 100%;
    height: 100%;
}
.search_logo{
    display: none;
    position: absolute;
    left: 0;
    top: 4px;
    width:125px;
    height: 40px;
}
.form{
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background-color: #fff;
}
.keyword{
    position: absolute;
    top: 0;
    left:0;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
    color: #333;
    outline: none;

}
.form button{
    position: absolute;
    right: 0;
    left: 488px;
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: background .2s ease;
    cursor: pointer;
}
.search-helper{
    display: none;
    position: absolute;
    top: 35px;
    width: 538px;
    /* height: 200px; */
    height: auto;
    border: 1px solid #CCC;
    background-color: skyblue;

    overflow: hidden;
    background-color:#fff ;
    box-shadow: 1px 2px 1px rgb(0 0 0 / 20%);
}
.search-helper p{
    text-align: left;
    height: 24px;
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
    font-size: 12px;
    color: #666;
}
/* 头部结束 */
body{
    background-color: #f4f4f4;
}
/* 轮播图开始 */
.banner{
    width: 100%;
    height: 470px;
    padding-top: 10px;
    margin-bottom: 30px;
    display: block;
    /* background-color: skyblue; */
}
.banner-box{
    height: 470px;
    /* background-color: red; */
}
.banner-slide{
    width: 790px;
    height: 470px;
    margin: 0 auto;
    display: block;
    /* background-color: bisque; */
}
.slide{
    position: relative;
    width: 590px;
    height: 470px;
    /* background-color: coral; */
}
.prev,.next{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width:25px;
    height: 35px;

    line-height: 35px;
    background-color: rgba(0,0,0,.15);
    font-size: 20px;
    transition: background-color .2s ease;
    cursor: pointer;
}
.prev{
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.next{
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.banner-btn{
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 0;
    text-align: center;
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    color: #666;
    width: 113px;
    height: 15px;

}
.banner-btn li{

    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(0,0,0,.15);
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.4);

}
.banner-btn .active{
    position: relative;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    margin-top: -1px;
}
/* 轮播图结束 */

/* 主体开始 */

.content{
    position: relative;
    width:100%;
}

.miaosha{
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
    background-color: palegoldenrod;
}
.youxuan{

    height: 980px;
    margin-bottom: 20px;
    background-color: paleturquoise;
}
.guangchang{
    height: 1005px;
    margin-bottom: 20px;
    background-color: palevioletred;
}
.tuijian{
    height: 1870px;
    margin-bottom: 20px;
    background-color: pink;

}
.elevator{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 615px;
    width: 58px;
    height: 252px;
    /* background-color: antiquewhite; */
}
.elevator a{
    display: block;
    width: 58px;
    height: 38px;
    line-height: 19px;
    font-size: 14px;
    color: #333;
    padding: 10px 0;
    transition: color .2s ease;
    background: #fff;
}
.elevator-fix {
    position: fixed;
    top: 75px;
    animation: eleShow 0.5s ease;
}

@keyframes eleShow{
    0%{
        top: 0;
    }
    100%{
        top: 75px;
    }
}
/* 主体结束 */